*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color:rgb(236, 239, 255);
}
.box{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;

}
.box img{
    width: 20rem;
    border: 1px solid rgb(184, 104, 89);
}
.box p{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 3rem;
}
@media (max-width:1024px) {
    .box{
        flex-direction: column;
        gap: 0rem;
        padding: 2rem 0rem;
    }
    .box img{
        width: 15rem;
    }
    .box p{
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 3rem;
    }
}